body{
    background-color: #f1f8ff;
}

.img-favicon {
    max-width: 5% !important;
    height: auto;
}

/*.section-title {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  font-weight: 600;*/
/*  font-size: 1.5rem;*/
/*  padding-bottom: 0.3rem;*/
/*}*/

/*.section-title::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 60%;*/
/*  height: 3px;*/
/*  background-color: #0077cc;*/
/*  border-radius: 2px;*/
/*}*/

.d-flex.justify-content-between.mb-1 {
    margin-bottom: 0 !important;
}
#min_price_val, #max_price_val {
    margin-bottom: -4px;
}

.btn-primary {
  background-color: #0160c6;
  border-color: #0062cc;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-fixed {
    min-width: 180px;
}

table caption {
    caption-side: top !important;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #222;
    background: #e9ecef;
    padding: 15px 0;
    border-radius: 6px 6px 0 0;
}

.table td,
.table th {
  vertical-align: middle;
}

.table th {
  font-weight: 600;
}

.td-padding-left {
    padding-left: 20px !important;
}

.td-padding-right {
    padding-right: 15px !important;
}


.table > tbody > tr:hover > td {
    background-color: #e0efff;
    transition: background-color 0.2s ease-in-out;
}


.text-muted-italic {
    color: #6c757d !important;
    font-style: italic;
}

.btn-primary-soft {
  background-color: #e7f1ff;
  color: #004085;
  border: 1px solid #69b3ff;
}
.btn-primary-soft:hover {
  background-color: #004085;
  color: #e7f1ff;
    transition: background-color 0.15s ease-in-out;
}

.pagination .page-link {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

footer a{
    color: #000000;
   font-style: italic;
}


@media (max-width: 1400px) {
    .col-hide-desktop {
        display: none !important;
    }
}

/* En pantallas medianas (móvil grande/tablet), botones de paginación grandes */
@media (max-width: 990px) {
    .col-hide-tablet {
        display: none !important;
    }

     .pagination .page-link {
        padding: 0.5rem 0.75rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .col-hide-mobile {
        display: none !important;
    }
    .img-favicon {
        max-width: 11% !important;
    }
}

/* En pantallas pequeñas (móvil), botones de paginación grandes */
@media (max-width: 576px) {

    .td-padding-left {
        padding-left: 10px !important;
    }

    .td-padding-right {
        padding-right: 5px !important;
    }

    .d-flex.flex-wrap .text-center p {
        font-size: 12.5px;
    }


 .btn-fixed {
    min-width: 100px;
}

}

